In [60]:
!pip install yfinance

Requirement already satisfied: yfinance in ./venv/lib/python3.10/site-packages (0.1.74)
Requirement already satisfied: lxml>=4.5.1 in ./venv/lib/python3.10/site-packages (from yfinance) (4.9.1)
Requirement already satisfied: multitasking>=0.0.7 in ./venv/lib/python3.10/site-packages (from yfinance) (0.0.11)
Requirement already satisfied: pandas>=0.24.0 in ./venv/lib/python3.10/site-packages (from yfinance) (1.4.3)
Requirement already satisfied: requests>=2.26 in ./venv/lib/python3.10/site-packages (from yfinance) (2.28.1)
Requirement already satisfied: numpy>=1.15 in ./venv/lib/python3.10/site-packages (from yfinance) (1.23.1)
Requirement already satisfied: python-dateutil>=2.8.1 in ./venv/lib/python3.10/site-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in ./venv/lib/python3.10/site-packages (from pandas>=0.24.0->yfinance) (2022.1)
Requirement already satisfied: certifi>=2017.4.17 in ./venv/lib/python3.10/site-packages (from requests>=2.26->yfinance) (2022.6.15)
Requirement already satisfied: idna<4,>=2.5 in ./venv/lib/python3.10/site-packages (from requests>=2.26->yfinance) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in ./venv/lib/python3.10/site-packages (from requests>=2.26->yfinance) (1.26.11)
Requirement already satisfied: charset-normalizer<3,>=2 in ./venv/lib/python3.10/site-packages (from requests>=2.26->yfinance) (2.1.0)
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas>=0.24.0->yfinance) (1.16.0)
WARNING: You are using pip version 21.3.1; however, version 22.2.1 is available.
You should consider upgrading via the '/Users/sigeharu/PycharmProjects/pythonProject3/venv/bin/python -m pip install --upgrade pip' command.

In [61]:
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

% matplotlib inline

UsageError: Line magic function `%` not found.

In [79]:
def get_data(days, tickers):
    df = pd.DataFrame()
    for company in tickers.keys():
        tkr = yf.Ticker(tickers[company])
        hist = tkr.history(period=f'{days}d')
        hist.index = hist.index.strftime('%d %B %Y')
        hist = hist[['Close']]
        hist.columns = [company]
        hist = hist.T
        hist.index.name = 'Name'
        df = pd.concat([df, hist])
    return df

In [81]:
days = 20
tickers = {
    'apple': 'AAPL',
    'facebook': 'FB',
    'google': 'GOOGL',
    'microsoft': 'MSFT',
    'netflix': 'NFLX',
    'amazon': 'AMZN'
}
df = get_data(days, tickers)

In [82]:
companies = ['apple', 'facebook']
data = df.loc[companies]
data

Date,07 July 2022,08 July 2022,11 July 2022,12 July 2022,13 July 2022,14 July 2022,15 July 2022,18 July 2022,19 July 2022,20 July 2022,21 July 2022,22 July 2022,25 July 2022,26 July 2022,27 July 2022,28 July 2022,29 July 2022,01 August 2022,02 August 2022,03 August 2022
Name,,,,,,,,,,,,,,,,,,,,
apple,146.350006,147.039993,144.869995,145.860001,145.490005,148.470001,150.169998,147.070007,151.000000,153.039993,155.350006,154.089996,152.949997,151.600006,156.789993,157.350006,162.509995,161.509995,160.009995,166.130005
facebook,172.190002,170.880005,162.880005,163.270004,163.490005,158.050003,164.699997,167.229996,175.779999,183.089996,183.169998,169.270004,166.649994,159.149994,169.580002,160.720001,159.100006,159.929993,160.190002,168.800003

In [83]:
data.sort_index()

Date,07 July 2022,08 July 2022,11 July 2022,12 July 2022,13 July 2022,14 July 2022,15 July 2022,18 July 2022,19 July 2022,20 July 2022,21 July 2022,22 July 2022,25 July 2022,26 July 2022,27 July 2022,28 July 2022,29 July 2022,01 August 2022,02 August 2022,03 August 2022
Name,,,,,,,,,,,,,,,,,,,,
apple,146.350006,147.039993,144.869995,145.860001,145.490005,148.470001,150.169998,147.070007,151.000000,153.039993,155.350006,154.089996,152.949997,151.600006,156.789993,157.350006,162.509995,161.509995,160.009995,166.130005
facebook,172.190002,170.880005,162.880005,163.270004,163.490005,158.050003,164.699997,167.229996,175.779999,183.089996,183.169998,169.270004,166.649994,159.149994,169.580002,160.720001,159.100006,159.929993,160.190002,168.800003

In [84]:
data = data.T.reset_index()
data.head()

Name          Date       apple    facebook
0     07 July 2022  146.350006  172.190002
1     08 July 2022  147.039993  170.880005
2     11 July 2022  144.869995  162.880005
3     12 July 2022  145.860001  163.270004
4     13 July 2022  145.490005  163.490005